/* font styles */
@font-face {
    font-family: poppinsextralight;
    src: url(fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: poppinssemibold;
    src: url(fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: poppinsregular;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

body{
    font-family: poppins;
}

/* text styles */
#text{
    text-align:center;
    max-width:540px;
    margin:auto;
    margin-top:90px;
}

h2{
    color:#4D4F62;
    font-size:36px;
    letter-spacing:.25px;
    font-family: poppinsextralight;
    margin:0;
    font-weight:400;
}

h1{
    color:#4D4F62;
    font-size:36px;
    letter-spacing: .25px;
    font-family: poppinssemibold;
    margin:0;
}

h3{
    font-family: poppinssemibold;
    font-size:20px;
    font-weight:400;
    color:#4D4F62;
}

p{
    font-family:poppinsregular;
    font-size:15px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-weight:200;
    color:#4D4F62;
}

/* container styles */
#container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
    margin-top:50px;
    margin-bottom:50px;
}

.square{
    width:350px;
    height:250px;
    border-radius:10px;
    box-shadow: #83A6D2 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:32px;
    padding-bottom:0px;
    display:flex;
    flex-direction: column;
}

#centerFlex{
    display:flex;
    flex-direction: column;
    gap:30px;
}

img{
    width:64px;
    height:64px;
    align-self:flex-end;
    float:right;
}

@media only screen and (max-width:1000px){
    /* text styles */
    #text{
        max-width:311px;
    }

    h2{
        font-size:22px;
        letter-spacing:.17px;
    }
    
    h1{
        font-size:23px;
        letter-spacing: .17px;
    }

    /* container styles */
    #container{
        flex-direction:column;
    }
    .square{
        width:311px;
        height:222px;
    }
}